.co-module {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  position: relative;
}
.co-module img {
  margin-bottom: 10px;
}
.co-module h5 {
  margin: 0;
}
.co-module p {
  margin: 0;
  width: 97%;
  position: relative;
}

.block-arrow::after {
  content: url(https://images.clasohlson.com/SE/2021autumn/arrow.svg);
  width: 10px;
  height: 5px;
  position: absolute;
  right: 0px;
  bottom: 13px;
}

.co-module--yes {
  text-align: center;
}
.co-module--no {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}
.co-module--no img {
  height: 125px;
}

@media only screen and (min-width: 599px) {
  .co-module img {
    margin-bottom: 16px;
  }
}

.cat-list ol {
  max-width: 350px;
  counter-reset: my-awesome-counter;
  padding: 0;
  padding-left: 30px;
}
.cat-list ol li {
  margin: 0;
  counter-increment: my-awesome-counter;
  position: relative;
  list-style-type: none;
  border: 0;
}
.cat-list ol li h5 {
  margin: 0;
}

.cat-list-first li::before,
.cat-list-sec li::before,
.cat-list-third li::before {
  content: '';
  font-size: 1.5rem;
  font-weight: bold;
  position: absolute;
  --size: 20px;
  left: calc(-1 * var(--size) - 10px);
  line-height: var(--size);
  width: var(--size);
  height: var(--size);
  top: 10px;
}
.cat-list-first li::before {
  content: '1.';
}
.cat-list-sec li::before {
  content: '2.';
}
.cat-list-third li::before {
  content: '3.';
}

.cat-list p {
  position: relative;
  margin: 0px;
  padding-right: 10px;
}

.block-arrow p::after {
  content: url('https://images.clasohlson.com/SE/2021autumn/arrow.svg');
  width: 10px;
  height: 5px;
  position: absolute;
  right: 0px;
  bottom: 10px;
}

/* Stylesheet för karusell */

@media only screen and (max-width: 600px) {
  /* Karuseller för mobilen */

  #co-karusell {
    padding: 0 10px;
  }
  #co-karusell.slider-component .owl-dots {
    bottom: -30px;
  }
  #co-karusell li {
    border: 0;
    padding: 0 5px;
  }
  #co-karusell.slider-component .owl-dots .owl-dot span {
    border: 1px solid #78d7fa;
    background: white;
  }
  #co-karusell.slider-component .owl-dots .owl-dot.active span,
  #co-karusell.slider-component .owl-dots .owl-dot:hover span {
    background: #78d7fa;
    border: 1px solid #78d7fa;
  }
}

#co-karusell img {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  #co-karusell {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
    grid-template-rows: 1fr 1fr;
    -ms-grid-rows: 1fr 16px 1fr;
    grid-gap: 16px;
    padding: 0;
  }
  #co-karusell li {
    border: 0;
    padding: 0;
  }
  #co-karusell .owl-dots {
    background: transparent;
  }
  #co-karusell li:nth-of-type(2) {
    -ms-grid-column: 3;
  }
  #co-karusell li:nth-of-type(3) {
    -ms-grid-column: 5;
  }
  #co-karusell li:nth-of-type(4) {
    -ms-grid-column: 7;
  }
  #co-karusell li:nth-of-type(5) {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  #co-karusell li:nth-of-type(6) {
    -ms-grid-column: 3;
    -ms-grid-row: 3;
  }
  #co-karusell li:nth-of-type(7) {
    -ms-grid-column: 5;
    -ms-grid-row: 3;
  }
  #co-karusell li:nth-of-type(8) {
    -ms-grid-column: 7;
    -ms-grid-row: 3;
  }
}

/* CSS FÖR LÄSER MER MODULE */

.co-grid--1 {
  grid-template-columns: 1fr;
  -ms-grid-columns: 1fr;
  background-color: #eeeeec;
  grid-gap: 0px;
  padding: 0;
}
.co-grid-acc div {
  padding-bottom: 8px;
}

.co-grid-acc p {
  text-align: left;
  margin: 0 10px;
}

.readMore {
  display: inline;
}
.readLess {
  display: none;
  margin-bottom: 10px;
}
.co-grid--1 p,
.co-grid--1 h2,
.co-grid--1 ul,
.co-grid--1 ol {
  display: none;
}
.co-grid--1 ul {
  padding: 0 10px;
}
.co-grid--1 ul li,
.co-grid--1 ol li {
  padding: 5px 0 5px;
  border: 0;
}

.co-grid--1 h2 {
  margin: 10px;
}
.co-grid--1 h2:first-of-type,
.co-grid--1 p:first-of-type {
  display: block;
}

@media only screen and (min-width: 599px) {
  .co-grid-acc {
    margin: 0px;
    width: 100%;
  }
  .co-grid-acc div {
    padding-bottom: 0px;
  }
  #readMoreImg {
    float: left;
    width: 50%;
    margin-right: 32px;
  }
  .co-grid--1 h2:first-of-type {
    margin-top: 32px;
  }

  .co-grid--1 {
    grid-template-columns: 1fr;
    -ms-grid-columns: 1fr;
    background-color: #eeeeec;
    grid-gap: 16px;
  }

  .co-grid-acc p {
    text-align: left;
    margin: 0 32px;
    padding: 0px;
  }
  .co-grid--1 h2 {
    margin: 10px 32px;
  }
  .co-grid--1 ul,
  .co-grid--1 ol {
    padding: 0 32px;
  }
  .readLess {
    margin-bottom: 32px;
  }
}
